.button {
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 24px;
  border-color: black;
  outline: none;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: var(--button-font-size);
  margin-left: var(--common-padding-size);
}

.post {
  background-color: white;
  margin: var(--common-padding-size);
  border: 2px solid black;
}

.post__container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 120px;
}

.post__img {
  width: 140px;
  aspect-ratio: 1;
  object-fit: cover;
  border-right-width: 2px;
  border-right-style: solid;
}

.post__info {
  display: flex;
  flex-direction: column;
  padding: var(--common-padding-size);
}

.post__info-title {
  font-size: 1.6rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.4rem;
}

.post__info-content {
  display: -webkit-box;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
